.sidebar {
    display: grid;
    background-color: rgb(124, 195, 219);
    padding: 20px;
    width: 10%;
    height: 100%;
    position: fixed;
    grid-template-rows: repeat(1,100px) repeat(5, 30px) repeat(1, 70px) repeat(3, 30px);
    color: white;
}

#dashboard {
    font-size: 20px;
}

.header {
    background-color: grey;
    color: white;
    padding-left: 300px;
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}

.homepage {
    padding-left: 200px;
    padding-top: 100px;
}